.consent {
  .header {
    background-color: #dedde1;
    height: 150px;
    padding: 15px 18px;
    position: relative;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .affiliation {
        display: flex;
        align-items: center;
        .affiliate-1 {
          border-right: 1px solid #424242;
          padding-right: 10px;
          padding-bottom: 3px;
          padding-top: 3px;
          img {
            width: 22px;
            height: auto;
          }
        }
        .affiliate-2 {
          padding-left: 10px;
          padding-bottom: 3px;
          padding-top: 3px;
          img {
            width: 27px;
            height: auto;
          }
        }
      }
      .cancel {
        font-family: 'BentonSans-Medium', 'Helvetica Neue', helvetica, arial, sans-serif;
        color: #0071E3;
      }
    }
    .artwork {
      height: 100%;
      display: flex;
      justify-content: center;
      img {
        position: absolute;
        bottom: -5px;
        width: 99px;
        height: auto;
      }
    }
  }
  .body {
    padding: 40px 10px;
    .title {
      font-family: 'BentonSans-Medium', 'Helvetica Neue', helvetica, arial, sans-serif;
      color: #424242;
      text-align: center;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 28px;
    }
    .claims {
      .claim {
        display: flex;
        padding: 0 10px;
        .left {
          font-size: 27px;
          color: #0071E3;
        }
        .right {
          margin-left: 12px;
          color: #424242;
          .primary-text {
            font-family: 'BentonSans', 'Helvetica Neue', helvetica, arial, sans-serif;
            font-size: 17px;
            line-height: 25px;
          }
          .secondary-text {
            font-family: 'BentonSans', 'Helvetica Neue', helvetica, arial, sans-serif;
            margin-top: 8px;
            color: #515154;
            line-height: 20px;
          }
        }
      }
      .line {
        margin: 20px 0;
        height: 1px;
        background-color: rgba(0,0,0,.1);
      }
    }
    .buttons {
      .button {
        height: 54px;
        border-radius: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'BentonSans-Medium', 'Helvetica Neue', helvetica, arial, sans-serif;
        font-size: 17px;
      }
      .button-1 {
        background-color: #0071E3;
        color: white;
        margin-bottom: 10px;
      }
      .button-2 {
        background-color: rgba(0, 126, 253, 0.2);
        color: rgb(0, 113, 227);
      }
    }
  }
}
