.range-dropdown {
  &.ant-select-dropdown {
    padding: 0;
    border-radius: 4px;
    .ant-select-item {
      border-bottom: 1px solid rgba(207,215,230,.6);
      padding: 12px 12px;
      .ant-select-item-option-content {
        .range {
          font-size: 13px;
          color: #62738D;
          line-height: 15px;
          margin-bottom: 2px;
        }
        .resolution {
          color: #CFD7E6;
          font-size: 11px;
          line-height: 13px;
          font-weight: 400;
        }
      }
      &.ant-select-item-option-selected {
        background: rgba(121,88,159,.1);
        border-color: rgba(207,215,230,.6);
        .ant-select-item-option-content {
          .range {
            color: #79589F;
            font-weight: 400;
            font-family: 'BentonSans-Medium', 'Helvetica Neue', helvetica, arial, sans-serif;
          }
          .resolution {
            color: #7189b5;
          }
        }
      }
    }
  }
}
