.welcome {
  // height: 100%;
  // max-width: 700px;
  // margin: auto;
  // background-color: $fill-1;
  height: 100%;
  background-color: red;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  font-family: 'BentonSans', 'Helvetica Neue', helvetica, arial, sans-serif;
  .nav {
    flex: 0 0 50px;
    display: flex;
    margin-bottom: -15px;
    .nav__wrap {
      flex: 1;
      display: flex;
      &.logo {
        justify-content: flex-start;
        align-items: center;
        img {
          margin-left: 10px;
          max-width: 40px;
          height: auto;
        }
      }
      &.title {
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        line-height: 20px;
      }
      &.search {
        justify-content: flex-end;
        align-items: center;
        color: white;
        font-size: 18px;
        line-height: 18px;
        div {
          margin-right: 10px;
        }
      }
    }
  }
  .hex-grid {
    flex: 1;
    display: flex;
    margin: 0 20px;
  }
}
